@charset "UTF-8";

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
    gap: 5px;
    text-align: center;
    
}

.box {
    
}

#cima {
    background-color: lightgray;
    grid-area: 1 / 1 / 2 / 3;
}

#menu {
    background-color: black;
    grid-area: 2 / 1 / 3 / 3;
}

#menu > a {
    color: white;
    text-decoration: none;
}

#principal {
    background-color: lightblue;
    grid-area: 3 / 1 / 4 / 2;
}

#secundario {
    background-color: lightcoral;
    grid-area: 3 / 2 / 4 /  3;
}

#rodape {
    background-color: lightseagreen;
    grid-area: 4 / 1 / 5 / 3;
}
   