@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@font-face {
    font-family: 'sriracha';
    src: url(fontes/Sriracha-Regular.ttf) format('opentype'); 
    font-weight: normal;

* {
    margin: 0;
    padding: 0;
}

}

body {
    margin: 0;
    padding: 0;
}

:root {
    --font-poema: 'sriracha';
    --font-cordel: 'Passion One';
}

header {
    background-color: black;
    height: 200px;
    padding: 50px;
    margin: 0;
}

.maiscula {
    font-size: 1.5em;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    background-color: rgba(128, 128, 128, 0.345);
    text-decoration: underline
}

header > h1 {
    font-family: var(--font-cordel);
    font-size: 7vw;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    
}

header > nav {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    
}

section {
    font-family: var(--font-poema);
    font-size: 3.5vw;
}

.semimagem {
    line-height: 2em;
    padding-left: 40px;
}

.semimagempr{
    margin: 0;
    padding: 40px 20px 20px 20px
}

.imagem {
    padding-left: 40px;
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    margin-top: 0;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.446);
    
}

.imagempr {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 2em];

}

#img2 {
    background-image: url(imagens/background002.jpg);

}

footer {
    padding: 8px;
    margin-bottom: 0;
    text-align: center;
    color: white;
    background-color: black;
}

footer > p {
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

